<form class="form-horizontal alert alert-warning" id="socioForm" ng-submit="UpdateSocio(socioUser)"  enctype="multipart/form-data" hidden>
<h3 class="text-center">Aggiornamento</h3>
<p><br></p>
	<div class="form-group">
		<label for="Nome" class="col-sm-6 control-label">Tessera UISP</label>
		<select name="singleSelect" class="col-sm-6 " ng-model="socioUser.tess_uisp">
    	  <option value="SI">SI</option>
      	  <option value="NO">NO</option>
    	</select>
	</div>
	<div class="form-group">
			<label for="Cognome" class="col-sm-6 control-label">UISP Numero</label>
			<input type="text" class="col-sm-6 " ng-model="socioUser.uisp_numero" value="{{socioUser.uisp_numero}}">
	</div>
	
	<div class="form-group">
			<label for="Datanascita"  class="col-sm-6">Data di rilascio UISP</label>
		  <input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="socioUser.datarilascio"  class="col-sm-6">
	</div>

	<div class="form-group">
			<label for="Indirizzo" class="col-sm-6 control-label">Certificato Medico</label>
			<select name="cert" class="col-sm-6 " ng-model="socioUser.certificato">
    	  		<option value="SI">SI</option>
      	  		<option value="NO">NO</option>
    		</select>
	</div>
	<div class="form-group">
		<label for="Numcivico" class="col-sm-6 control-label">Doc Certificato Medico</label>
		<!--<input type="text" class="col-sm-6 " ng-model="socioUser.foto_cert" value="{{socioUser.foto_cert}}">-->
			<input type="file" name="fileToUpload" id="fileToUpload" ng-model="socioUser.foto_cert">
	</div>
	<div class="form-group">
		<label for="Cap"  class="col-sm-6 control-label">Tessera F.I.V</label>
		<input type="text" class="col-sm-6 " ng-model="socioUser.fiv" value="{{socioUser.fiv}}">
	</div>
	<div class="form-group">
		<label for="Citta" class="col-sm-6 control-label">Scadenza F.I.V</label>
		<input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="socioUser.fiv_scadenza" class="col-sm-6 ">
		<!--<md-datepicker ng-model="socioUser.fiv_scadenza" md-placeholder="{{socioUser.fiv_scadenza}}"></md-datepicker>-->
	</div>
	<div class="form-group">
		<label for="Provincia" class="col-sm-6 control-label">Certificato F.I.V</label>
		<!--<input type="text" class="col-sm-6 " ng-model="socioUser.fiv_certificato" value="{{socioUser.fiv_certificato}}">-->
		<input type="file" name="fileToUpload" id="fileToUpload" ng-model="socioUser.fiv_certificato">
	</div>

	<div class="form-group">
		<label for="CodFiscale" class="col-sm-6 control-label">Patente</label>
		<select name="patente"  class="col-sm-6" ng-model="socioUser.patente">
    	  <option value="SI">SI</option>
      	  <option value="NO">NO</option>
    	</select>
	</div>

	<div class="form-group">
		<label for="ParIva" class="col-sm-6 control-label">Patente Tipo</label>
		<input type="text" class="col-sm-6" ng-model="socioUser.patente_tipo" value="{{socioUser.patente_tipo}}">
	</div>

	
	<div class="form-group">
		<label for="Datanascita" class="col-sm-6 control-label">Data di scadenza della patente</label>
		<!--<md-datepicker ng-model="socioUser.data_scadenza_patente" md-placeholder="{{socioUser.data_scadenza_patente}}"></md-datepicker>-->
		 <input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="socioUser.data_scadenza_patente" class="col-sm-6">
	</div>

	<div class="form-group">
		<button class="btn btn-warning" ng-click="">Aggiorna</button>
	</div>
</form>