<form class="form-horizontal alert alert-warning" id="socioForm" ng-submit="UpdateSocio(socioUser)" hidden>
<h3 class="text-center">Aggiornaqqmeto</h3>
	<div class="form-group">
		<label for="Nome">Tessera UISP: :</label>
		<input type="text" class="form-control" ng-model="socioUser.tess_uisp" value="{{socioUser.tess_uisp}}">
	</div>
	<div class="form-group">
		<label for="Cognome">UISP Numero:</label>
		<input type="text" class="form-control" ng-model="socioUser.uisp_numero" value="{{socioUser.uisp_numero}}">
	</div>
	
	<div class="form-group">
			<label for="Datanascita">Data di rilascio UISP:</label>
		<!--<md-datepicker ng-model="socioUser.datarilascio" md-placeholder="{{socioUser.datarilascio}}"></md-datepicker>-->
		  <input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="socioUser.datarilascio">
		<!--<input type="text" class="form-control" ng-model="currentUser.data_nascita" value="{{currentUser.data_nascita}}">-->
	</div>

	<div class="form-group">
		<label for="Indirizzo">Certificato Medico:</label>
		<input type="text" class="form-control" ng-model="socioUser.certificato" value="{{socioUser.certificato}}">
	</div>
	<div class="form-group">
		<label for="Numcivico">Doc Certificato Medico :</label>
		<input type="text" class="form-control" ng-model="socioUser.foto_cert" value="{{socioUser.foto_cert}}">
	</div>
	<div class="form-group">
		<label for="Cap">Tessera F.I.V:</label>
		<input type="text" class="form-control" ng-model="socioUser.fiv" value="{{socioUser.fiv}}">
	</div>
	<div class="form-group">
		<label for="Citta">Scadenza F.I.V:</label>
		<input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="socioUser.fiv_scadenza">
		<!--<md-datepicker ng-model="socioUser.fiv_scadenza" md-placeholder="{{socioUser.fiv_scadenza}}"></md-datepicker>-->
	</div>
	<div class="form-group">
		<label for="Provincia">Certificato F.I.V:</label>
		<input type="text" class="form-control" ng-model="socioUser.fiv_certificato" value="{{socioUser.fiv_certificato}}">
	</div>

	<div class="form-group">
		<label for="CodFiscale">Patente:</label>
		<input type="text" class="form-control" ng-model="socioUser.patente" value="{{socioUser.patente}}">
	</div>

	<div class="form-group">
		<label for="ParIva">Patente Tipo:</label>
		<input type="text" class="form-control" ng-model="socioUser.patente_tipo" value="{{socioUser.patente_tipo}}">
	</div>

	
	<div class="form-group">
		<label for="Datanascita">Data di scadenza della patente:</label>
		<!--<md-datepicker ng-model="socioUser.data_scadenza_patente" md-placeholder="{{socioUser.data_scadenza_patente}}"></md-datepicker>-->
		 <input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="socioUser.data_scadenza_patente">
	</div>

	<div class="form-group">
		<button class="btn btn-warning" ng-click="">Aggiorna</button>
	</div>
</form>