
<form class="form-horizontal alert alert-warning" id="amministrazioneForm" ng-submit="UpdateAmm(ammUser)" hidden>
<h3 class="text-center">Aggiorwnameto</h3>
	<div class="form-group">
		<label for="Nome">Banca :</label>
		<input type="text" class="form-control" ng-model="ammUser.banca" value="{{ammUser.banca}}">
	</div>
	<div class="form-group">
		<label for="Cognome">Abi :</label>
		<input type="text" class="form-control" ng-model="ammUser.abi" value="{{ammUser.abi}}">
	</div>
	
	<div class="form-group">
		<label for="Indirizzo">Cab::</label>
		<input type="text" class="form-control" ng-model="ammUser.cab" value="{{ammUser.cab}}">
	</div>
	<div class="form-group">
		<label for="Numcivico">Cin:</label>
		<input type="text" class="form-control" ng-model="ammUser.cin" value="{{ammUser.cin}}">
	</div>
	<div class="form-group">
		<label for="Cap">C/C :</label>
		<input type="text" class="form-control" ng-model="ammUser.cc" value="{{ammUser.cc}}">
	</div>
	<div class="form-group">
		<label for="Citta">IBAN:</label>
		<input type="text" class="form-control" ng-model="ammUser.iban" value="{{ammUser.iban}}">
	</div>
	<div class="form-group">
		<label for="Provincia">Carta Credito :</label>
		<input type="text" class="form-control" ng-model="ammUser.carta_credito" value="{{ammUser.carta_credito}}">
	</div>

	<div class="form-group">
		<label for="CodFiscale">Data di scadenza:</label>
		<!--<input type="text" class="form-control" ng-model="ammUser.data_scadenza" value="{{ammUser.data_scadenza}}">-->
		<input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="ammUser.data_scadenza">
	</div>

	<div class="form-group">
		<label for="ParIva">CCV :</label>
		<input type="text" class="form-control" ng-model="ammUser.ccv" value="{{ammUser.ccv}}">
	</div>

	<div class="form-group">
		<button class="btn btn-warning">Aggiorna</button>
	</div>
</form>