 <style type="text/css">
        .label-container {
            margin: 5px 0;
        }

        span[id^="combo"] {
            margin-right: 15px;
        }

        #state, #stateCascading {
            display: none;
        }

        .group-container {
            padding: 10px;
            margin-bottom: 10px;
            clear: both;
        }

        .group-title {
            font-weight: bold;
        }

        .comboGroup {
            float: left;
        }

        .overHidden {
            overflow: hidden;
        }
</style>
<form class="form-horizontal alert alert-warning"  id="newCorso" ng-submit="newCorso(n)" hidden>

   <div class="form-group">
      <label for="tipo"  class="col-sm-2 control-label">Nome Corso:</label>
         <div class="col-sm-4">
             <input type="text" class="form-control" ng-model="n.nomecorso" value="{{n.nomecorso}}">
        </div>
    </div>

    <div class="form-group">
      <label for="tipo"  class="col-sm-2 control-label">Attivo:</label>
         <div class="col-sm-4">
             <select name="singleSelect" ng-model="n.attivo"  class="form-control">
                <option value="si">SI</option>
                <option value="no">NO</option>
            </select>
        </div>
    </div>
 <div class="form-group">
    <button class="btn btn-warning" ng-disabled="n.$invalid">Aggiungi</button>
  </div>

    





    </form>

</div>
